body {
  background-color: #dfd3c3;
}
hr {
  background-color: white;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 3px;
  width:60%;
}
h1{
  color: #e8505b;
}
h3{
  color: #e8505b;
}
th{
    color: #e8505b;
}
